{% extends 'restaurante/lista.html' %}
{% block tabla %}
<div class="tabla">
<table>
    <thead>
        <tr>
            <th scope="col">Persona</th>
            <th scope="col">Documento</th>
            <th scope="col">Correo</th>
            <th scope="col">Fecha de contratación</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for administrador in administradores %}
        <tr>
            <td>{{ administrador.persona }}</td>
            <td>{{ administrador.persona.documento }}</td>
            <td>{{ administrador.persona.correo }}</td>
            <td>{{ administrador.fecha_contratacion }}</td>
            <td class="acciones">
                <a href="{% url 'restaurante:administrador_editar' administrador.pk %}">Editar</a>
                <a href="{% url 'restaurante:administrador_eliminar' administrador.pk %}">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No hay registros todavía.</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
