{% extends 'restaurante/lista.html' %}
{% block tabla %}
<div class="tabla">
<table>
    <thead>
        <tr>
            <th scope="col">Persona</th>
            <th scope="col">Documento</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.persona }}</td>
            <td>{{ cliente.persona.documento }}</td>
            <td>{{ cliente.persona.telefono }}</td>
            <td>{{ cliente.persona.correo }}</td>
            <td class="acciones">
                <a href="{% url 'restaurante:cliente_editar' cliente.pk %}">Editar</a>
                <a href="{% url 'restaurante:cliente_eliminar' cliente.pk %}">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">No hay registros todavía.</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
