{% extends 'restaurante/lista.html' %}
{% block tabla %}
<div class="tabla">
<table>
    <thead>
        <tr>
            <th scope="col">Número</th>
            <th scope="col">Capacidad</th>
            <th scope="col">Disponible</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for mesa in mesas %}
        <tr>
            <td>{{ mesa.numero }}</td>
            <td>{{ mesa.capacidad }}</td>
            <td>{{ mesa.disponible|yesno:"Sí,No" }}</td>
            <td class="acciones">
                {% include 'restaurante/_acciones_crud.html' with registro=mesa editar_ruta='restaurante:mesa_editar' eliminar_ruta='restaurante:mesa_eliminar' %}
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="4">No hay registros todavía.</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
